	<div class="hero-unit">
		<H1>Welcome to Bump!</H1>
		<p>
			Here're a few things you should know. If you want to edit/add/delete articles, LOEs and eventually a bunch of other stuff, sign up for an analyst account (look at the bottom of the page). If you want to see the customer side, sign up for a regular account (the button right below this, or the top right). <br>
			Please direct all suggestions, bugs, or irritated rants to brian.stearns@barbaricum.com
		</p>
		<p> 
			<%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> 
		</p>
	</div>
